defaults:
  - /habitat: habitat_config_base
  # - /habitat/task: objectnav
  - /habitat/simulator/sensor_setups@habitat.simulator.agents.main_agent: rgbd_agent
  - _self_

habitat:
  seed: 100
  environment:
    max_episode_steps: 300
    iterator_options: #
      max_scene_repeat_steps: 5 #
      max_scene_repeat_episodes: 5 #
      
  simulator:
    type: "Unreal-Simulator-v0"
    turn_angle: 30
    # tilt_angle: 30
    forward_step_size: 0.25
    # action_space_config: "v1"
    default_agent_id: 0
    default_agent_navmesh: False  
    agents:
      main_agent:
        height: 0.88
        radius: 0.15
        max_climb: 0.2 #meters
        max_slope: 25.0 #degrees
        sim_sensors:
          # semantic_sensor:
          #   type: "HabitatSimSemanticSensor"
          #   width: 640
          #   height: 480
          #   # hfov: 79
          #   # position: [0, 0.88, 0]
          rgb_sensor:
            type: "UnrealRGBSensor"
            width: 640
            height: 480
            hfov: 79
            # position: [0, 0.88, 0]
          depth_sensor:
            type: "UnrealDepthSensor"
            width: 640
            height: 480
            hfov: 79
            min_depth: 0.0
            max_depth: 20.0
            normalize_depth: True
            # position: [0, 0.88, 0]
    habitat_sim_v0: # ?????????
      gpu_gpu: False
      gpu_device_id: 0
      allow_sliding: False
  task:
    type: ObjectNav-v1
    actions: #["STOP", "MOVE_FORWARD", "TURN_LEFT", "TURN_RIGHT", "LOOK_UP", "LOOK_DOWN"]
      action1:
        type: StopAction
      action2:
        type: MoveForwardAction
      action3:
        type: TurnLeftAction
      action4:
        type: TurnRightAction
      # action5:
      #   type: LookUpAction
      # action6:
      #   type: LookDownAction

    lab_sensors: #['ObjectGoalSensor', 'COMPASS_SENSOR', 'GPS_SENSOR']
      sensor1:
        type: ObjectGoalSensor
      sensor2:
        type: CompassSensor
      sensor3:
        type: GPSSensor
    
    goal_sensor_uuid: objectgoal

    measurements:  
      # SPL:
      #   type: SPL
      # SoftSPL:
      #   type: SoftSPL
      DistanceToGoal:
        type: DistanceToGoal
        # distance_to: VIEW_POINTS
      Success:
        #### Not clear how to include measurement-specific fields without hydra throwing type error????
        ####_target_: habitat.config.SuccessMeasurementConfig
        type: Success
        # success_distance: 0.7

    success_measure: 'DistanceToGoal'

  dataset:
    type: ObjectNav-v1
    split: train
    data_path: "data/datasets/objectnav/unreal/{split}/{split}.json.gz"
    # scenes_dir: "habitat-challenge-data/data/scene_datasets/"
    content_scenes: ["*"]